body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration-line: none;
    
}
ul {
    list-style-type: none;
}

.visually-hidden {
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    
}


/*---------------------- HEADER ----------------------- */

.header {}

.header-nav {}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo-color{
    color:#2e2f42;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover, .header-menu-link:focus{
    color: #404bbf;
}

.header-contacts {
    font-style: normal;
}

.header-contacts-list {}

.header-contacts-item {}

.header-contacts-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-contacts-link:hover, .header-contacts-link:focus{
    color: #404bbf;
}

/*------------ HERO ------------- */

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        cursor: pointer;
        color: #fff;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}

/*------------- FEATURE -----------------*/

.feature {}

.feature-list {}

.feature-item {}

.feature-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.feature-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*------------------OUR TEAM------------------------*/

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-image {}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/*------------------------------- PORTFOLIO -----------------------*/

.portfolio {}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-image {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*----------------------------------- FOOTER ---------------------------------*/

.footer {
    background-color: #2e2f42;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-color{
    color:#f4f4fd
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}